.find-screen {
    margin-top: var(--main-margin-top);
}

.icon-row {
    padding-top: 25px;
}
.icon-row__icon {
    opacity: 0.7;
}

.icon-row__icon:hover {
    opacity: 1;
    transition: opacity 0.3s linear;
}
.icon-row__icon:hover i{
    animation: iconShake 0.3s linear;
}

@keyframes iconShake {
    25%{
        transform: none;
    }
    50% {
        transform: rotateZ(15deg);
    }
    75%{
        transform: rotateZ(-15deg);
    }
    100%{
        transform: none;
    }
}
.Recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.Recommended-friends__title {
    font-size: 14px;
    opacity: 0.5;
}

.Recommended-friends span {
    display: block;
    margin: 100px 0px;
    text-align: center;
    font-size: 18px;
    
}

.open-chat {
    margin-bottom: 80px;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity: 0.5;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 7px;
}

.open-post__hashtags {
    text-decoration: uppercase;
    opacity: 0.6;
}

.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img {
width: 15px;
height: 15px;
border-radius: 50%;
margin-right: 5px;
}

.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider {
    width: 2px; 
    height: 15px;
    margin: 0 5px;
    background-color: rgba(244, 222, 147, 0.2);
}

.open-post__member-status {
    color: #ffb0e0;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #F4DE93;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.open-post__heart-count span{
    margin-left: 3px;
}

.first-post {
    border-bottom: 1px solid rgba(244, 222, 147, 0.4);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

@keyframes heartBeat {
    0% {
        color: white;
        transform: none;
    }
    50% {
        color: tomato;
        transform: scale(1.5);
    }
    100% {
        color: white;
        transform: none;
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}