#friends-display-link {
    display: block;
    text-align: center;
    background-color: #14555B;
    padding: 15px 0px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: var(--main-margin-top);
    
}

#friends-display-link i{
    color:#F4DE93;
    opacity: 0.8;
    padding: 0px 5px;
}

.friends-screen {
    margin-bottom: 73px;

}

.friends-screen__channel-header, .friends-screen__friends-header,
.friends-screen__Multi-Profile-header, .friends-screen__Birthday-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    opacity: 0.4;
    padding-top: 15px;
    border-top: 1px solid #F4DE93;
    margin: 0px 25px;
}

.friends-screen__channel-header {
    padding-bottom: 15px;
}

.friends-screen__channel-header, .friends-screen__friends-header,
.friends-screen__Multi-Profile-header, .friends-screen__Birthday-header span {
    font-size: 15px;
}

@keyframes hideSplashScreen {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: #000913;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 1s ease-in-out forwards;
    animation-delay: 0.5s; 
    z-index: 99;
}

#splash-screen img {
    width: 200px;
    height: 200px;
}
